{% extends "base.html" %}
{%load static%}

{% block title %}Home - Office Employee Management{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Office Employee Management System</h1>
</div>

<div id="carouselExample" class="carousel slide">
    <div class="container">
        <div class="carousel-inner">
            <div class="carousel-item active" style="height: 600px;">
                <img src="{% static 'images/img1.jpg' %}" class="d-block w-100" style="max-height: 100%; width: auto; margin: auto; display: block;" alt="">
            </div>
            <div class="carousel-item" style="height: 600px;">
                <img src="{% static 'images/img2.jpg' %}" class="d-block w-100" style="max-height: 100%; width: auto; margin: auto; display: block;" alt="...">
            </div>
            <div class="carousel-item" style="height: 600px;">
                <img src="{% static 'images/img3.jpg' %}" class="d-block w-100" style="max-height: 100%; width: auto; margin: auto; display: block;" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
{% endblock %}
