{% extends 'base.html' %}

{% block title %}Remove Employee{% endblock %}

{% block content %}
    <div class="container">
        <h1>Remove Employee</h1>
        <hr>
        
        <form action="{% url 'remove_emp' %}" method="post">
            {% csrf_token %}
            <label for="employee">Select Employee to Remove:</label>
            <select id="employee" name="employee" class="form-select" required>
                <option value="" disabled selected>Select an employee</option>
                {% for emp in employees %}
                    <option value="{{ emp.id }}">{{ emp.First_name }} {{ emp.Last_name }}</option>
                {% endfor %}
            </select>
            <br>
            <button type="submit" class="btn btn-danger">Remove</button>
        </form>
    </div>
{% endblock %}
